body {
    margin: 0;
    margin-top: 130px;
    font-family: 'Playfair Display', serif;
    background-color: #D8CCB3;
    font-size: 1em;
    padding: 0;
    bottom: 0;
    gap: 0;
    margin-bottom: 0;
    color: #441B00;
    scroll-behavior: smooth;
    line-height: 1.4;
    display: flex;
    flex-direction: column;
}
@media (max-width: 768px) {
    body {
        font-size: 1.1em;
    }
    h2 {
        font-size: 1.6em;
    }
}
h2 {
    font-size: 1.8em;
}

.container p, .button, .circular-progress, header nav, footer, .no-style {
    font-family: 'Lato', sans-serif;
}




header {
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: top 0.5s;
    top: 0px;
    position: fixed;
    width: 100%;
    margin: 0;
    background-color: #32605A;
    color: #D8CCB3;
    border-bottom: 5px solid #D8CCB3;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
}

.title {
    padding: 10px;
    padding-left: 0;
}

.banner-title {
    font-size: 2.5em;
    margin: 0;
    padding-top: 0;
    font-family: 'Playfair Display', serif;
}

@media (max-width: 768px) {
    header nav a {
        font-size: 1.1em;
    }
    .banner-title {
        font-size: 1.2em;
    }
}

header a {
    text-decoration: none;
}

header nav a {
    font-size: 1.3em;
    position: relative; /* Position relative pour placer le trait par rapport au lien */
}

header nav a::after, header nav a:hover::after {
    content: ''; 
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    width: 80%;
    border-bottom: 3px solid;
    transition: width 0.3s;
    color: inherit;
}

@media (max-width: 768px) {
    header nav a::after, header nav a:hover::after {
    margin: 0 auto; /* Centre horizontalement le trait */
}
}

header nav a::after
{
    width: 0px;
}

.main-menu {
    padding-left: 0;
    margin-left: 0;
    left: 0px;
}

.main-menu ul {
    list-style: none;
    margin: 1rem 0 0;
    padding: 0;
    margin-top: 5px;
    display: flex;
    gap: 2rem;
}

.main-menu ul li a {
    color: #D8CCB3;
    text-decoration: none;
    font-size: 1.3em;
}

.main-menu ul li {
    padding-bottom: 10px;
}


.menu-icon {
    display: none;
    font-size: 36px;
    color: #D8CCB3;
}

@media (max-width: 768px) {
    .title {
        width: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .menu-icon {
        display: flex;
    }

    .main-menu {
        display: none;
        width: 100%;
        border-top: 4px solid #2B514C;
    }

    .main-menu ul {
        flex-direction: column;
        width: 100%;
        gap: 0px;
        margin-top:0;
    }

    .main-menu ul li {
        margin-top:0;
        padding: 10px;
        font-size: 0.9em;
        text-align: center;
        border-bottom: 1px solid #D8CCB3;
    }

    .main-menu ul li:last-child {
        border-bottom: none;
    }
}





.banner {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.banner img {
    position: absolute;
    min-height: 120vh;
    object-fit: cover;
    object-position: center;
    top: 0;
    left: 0;
    transform: translateY(0);
}

@media (max-width: 768px) {
    .banner {
        height: 50vh;
    }

    .banner img {
        position: absolute;
        min-height: 120vh;
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
        transform: translateY(0);
        height: 120vh;
        object-fit: cover;
    }
}


.mobile {
    display: none;
}
.computer {
    display: flex;
}
@media (max-width: 768px) {
.mobile {
    display: flex;
}
.computer {
    display: none;
}
}





/*texte des section de texte telles que contact-us ou about-us*/
.content {
    font-size: 1.2em;
}

.container {
    width: 80%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
}

section h2 {
    color: #680D1A;
    margin-bottom: 30px;
}

section {
    padding-bottom: 20px;
}




.article {
    overflow: hidden;
    background-color: #B7AD9A;
    border-radius: 12px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.article:hover .article-image {
    filter: grayscale(100%);
}

.article-info {
    padding-left: 15px;
    padding-right: 15px;
}

@media (max-width: 768px) {
    .article-info {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 5px;
    }
}

.article .article-image {
    width: 100%;
    height: 220px; /* Hauteur fixe (ajustable selon vos besoins)
    remplace height auto */
    object-fit: cover;
    display: block;
    margin-bottom: 10px;
    border-radius: 6px;
    transition: filter 0.3s ease;
}

.article h3 {
    font-size: 1.2em;
    margin: 15px 0 10px;
}







a {
    color: inherit;
}
.button {
    text-decoration: none;
    padding: 10px;
    color: #D8CCB3;
    background-color: #32605A;
    border-radius: 12px;
    font-size: 0.9em;
    transition: background-color 0.3s ease;
}
.button:hover {
    background-color: #680D1A;
}



.no-style {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: inherit;
}
.no-style li {
    margin-bottom: 10px;
    font-size: inherit;
}

.bold {
    font-weight: bold;
}



.enfant h2 {
    padding-bottom: 5px;
    text-align: center;
}
.more {
    display: block;
    margin-top: 30px;
    text-align: center;
    font-size: 1.1em;
}
.more:hover {
    color: #680D1A;
}


.parent {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 20px;
    gap: 35px;
}

.enfant {
    position: relative;
    background-color: inherit;
    flex: 1;
    height: 100%;
}

.enfant h3 {
    margin-top: 0;
}

@media (max-width: 768px) {
    .container {
    width: 90%;
    margin: auto;
    padding: 0;
    }

    .parent {
        flex-direction: column;
        height: auto;
    }

    .enfant {
        flex: none;
        width: 100%;
    }
}



.article-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));
    gap: 25px;
    margin: 0 auto;
}
.all-content-grid {
    grid-template-columns: repeat(auto-fit, minmax(230px, 0.25fr));
}

@media (max-width: 768px) {
    .article-grid {
        grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));
    }
    .all-content-grid {
    grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));
}}


.rating
{
    display: flex;
    justify-content: center;
    gap: 5px;
    opacity: 0;
    /* Cache initialement les étoiles */
    transform: translateY(10px);
    /* Décalé vers le bas */
    transition: opacity 0.6s ease, transform 0.6s ease;
    /* Transition fluide */
}

.rating.show
{
    /* Classe ajoutée par JavaScript */
    opacity: 1;
    /* Rend visible */
    transform: translateY(0);
    /* Ramène en position */
}

.rating img
{
    width: 32px;
    /* Taille des étoiles */
    height: auto;
}

@media (max-width: 768px)
{
    .rating img
    {
        width: 45px;
        height: 45px;
    }
}

.explain-rate
{
    justify-content: left;
}

.explain-rate img
{
    width: 64px;
    height: 64px;
}

@media (max-width: 768px){
    .explain-rate h3, .explain-rate p{
        display: none;
    }
    .explain-rate {
        justify-content: center;
    }
}

.rate {
    background-color: #C6B099;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 12px;
    color: #680D1A;
    font-weight: bold;
    text-align: center;
    font-size: 1.1em;
    padding-bottom: 25px;
}

#about-rating
{
    background-color: #C5B79C;
}

















#contact-us, #contact-us h2 {
    color: #294F4A;
}







/* Diagrammes */

.diagram-container {
    display: flex;
    gap:25px;
    background-color: inherit;
    justify-content: center;
}

.circular-progress {
    position: relative;
    width: 120px;
    height: 120px;
    background: conic-gradient(var(--color, #4caf50) var(--progress, 0deg), var(--bgcolor, inherit) 0deg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.circular-progress::before {
    content: '';
    position: absolute;
    width: 65px;
    height: 65px;
    background: #C5B79C;
    border-radius: 50%;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
}

.progress-value {
    position: relative;
    font-size: 18px;
    font-weight: bold;
    color: var(--color, inherit);
}

.diagrams {
    display: flex;
    gap:25px;
    justify-content: space-around;
    text-align: center;
}


.general-rate {
    color: #752D2C;
}
.climate-rate {
    color: #2E4A45;
}




.last-study {
    background: #C5B79C;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    font-size: 1.1em;
    gap: 25px;
}


.last-study .article{
    min-width: 250px;
}

.last-study .article .article-image {
    height: auto;
}









footer {
    color: #D8CCB3;
    padding: 30px 0;
    padding-top: 0px;
    z-index: 10;
    overflow: hidden;
    background-color: #32605A;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    max-width: 1400px;
    margin: auto;
    justify-content: space-around;
    padding-top: 20px;
}

@media screen and (max-width: 768px) {
    .footer-content {
        width: 90%;
        display: block;
        margin-bottom: 30px;
        padding-top: 20px;
    }
}

.footer-section {
    flex: 1;
    margin-left: 0px;
}

.footer-section p {
    padding: 0;
    margin: 0;
}

.footer-section h3 {
    font-weight: bold;
}

.footer-section ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-section li {
    padding-top: 5px;
}

.footer-section a {
    text-decoration: none;
    color: #C6B099;
}

.footer-section h3 {
    font-family: 'Playfair Display', serif;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: left;
    padding: 10px 0;
    margin-bottom: 0px;
    position: relative;
    width: 100%;
    margin-top: 30px;
    font-size: 0.9em;

}

@media screen and (max-width: 768px) {
    .footer-bottom {
        font-size: 0.8em;
    }
}

.footer-bottom::after {
    content: '';
    position: absolute;
    width: 100%;
    top: 0px;
    height: 1px;
    background-color: #C6B099;
}

@media {
    .footer-bottom {
        top: 15px;
    }
}

.footer-bottom .text-container {
    margin-top: 20px;
}

.license-link {
    color: inherit;
    text-decoration: underline;
    font-size: inherit;
    font-weight: inherit;
}

.subscription-container {
    width: 100%;
    background-color: rgb(245, 245, 254);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: rgb(22, 22, 22);
}

@media (max-width: 768px) {
    .footer-section, .footer-bottom {
        width: 90%;
        margin: auto;
    }
}



/* Styliser le formulaire */

form {
    width: 90%;
    padding: 20px;
    background: #32605A;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    form {
        width: 85%;
        margin: auto;
    }
    .extra-contact {
        display: none;
    }
}

/* Styliser les étiquettes */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #D8CCB3;
}

/* Styliser les champs de texte */
input[type="email"],textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 2px solid #C6B099;
    border-radius: 4px;
    box-sizing: border-box;
    /* Inclure padding et bordure dans la largeur */
    background-color: #D8CCB3;
}

/* Styliser la zone de texte */
textarea {
    resize: none;
    /* Permettre la redimension verticale seulement */
    min-height: 100px;
    /*background-color: #D8CCB3;*/
}

button {
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    font-family: inherit;
    background-color: transparent;
    color: #D8CCB3;
    font-size: 16px;
    cursor: pointer;
    border: 3px solid #D8CCB3;
    transition: background-color 0.3s ease;
}

input:focus,textarea:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}