





.last-study {
    background: #C5B79C;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}


.last-study .article{
    min-width: 250px;
}

.last-study .article .article-image {
    height: auto;
}





#about-us {
    background-color: #32605A;
}

#about-us, #about-us h2 {
    color: #D8CCB3;
}


#about-us .no-style{
    font-size:  0.9em;
}





/* Diagrammes */

.diagram-container {
    display: flex;
    gap:25px;
    background-color: inherit;
    justify-content: center;
}

.circular-progress {
    position: relative;
    width: 120px;
    height: 120px;
    background: conic-gradient(var(--color, #4caf50) var(--progress, 0deg), var(--bgcolor, inherit) 0deg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.circular-progress::before {
    content: '';
    position: absolute;
    width: 65px;
    height: 65px;
    background: #C5B79C;
    border-radius: 50%;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
}

.progress-value {
    position: relative;
    font-size: 18px;
    font-weight: bold;
    color: var(--color, inherit);
}

.diagrams {
    display: flex;
    gap:25px;
    justify-content: space-around;
    text-align: center;
}


.general-rate {
    color: #752D2C;
}
.climate-rate {
    color: #2E4A45;
}

/*Badge*/

.badge {
      display: flex;
      align-items: center;
      
      border-radius: 8px;

/*
      padding: 15px;
      border: 3px solid #D8CCB3;*/
    }
    /*
@media (max-width: 768px){
    .badge {
    padding:0;
    border: none;
}
}*/
    .badge img {
      width: 90px;
      height: 90px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 15px;
    }

    .badge .description {
      display: flex;
      flex-direction: column;
    }
    .badge .description p {
      margin: 0;
    }
@media (max-width: 600px) {
      .badge {
        flex-direction: column;
        align-items: center;
      }

      .badge img {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }




