.parent1 {
    background: #C5B79C;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    font-size: 1.1em;
    gap: 25px;
}








#about-us {
    background-color: #32605A;
}

#about-us, #about-us h2 {
    color: #D8CCB3;
}


#about-us .no-style{
    font-size:  0.9em;
}





/*Badge*/

.badge {
      display: flex;
      align-items: center;
      
      border-radius: 8px;

/*
      padding: 15px;
      border: 3px solid #D8CCB3;*/
    }
    /*
@media (max-width: 768px){
    .badge {
    padding:0;
    border: none;
}
}*/
    .badge img {
      width: 90px;
      height: 90px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 15px;
    }

    .badge .description {
      display: flex;
      flex-direction: column;
    }
    .badge .description p {
      margin: 0;
    }
@media (max-width: 600px) {
      .badge {
        flex-direction: column;
        align-items: center;
      }

      .badge img {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }




.parent0 {
}
.enfant0{
    
}
.parent1 {
    gap: 20px;
}


.parent1 .enfant {
}
/*B7AD9A*/
.parent1 .enfant1 {
    min-width: 200px;
        overflow: hidden;
    background-color: #B7AD9A;
    border-radius: 12px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}
.parent1 .enfant1 .article-image {
    height: auto;
}
.enfant2 .article-info {
    padding-bottom :15px;
}
@media (max-width: 600px) {
.enfant2 .article-info {
    padding-bottom :20px;
}

.article2 {
    min-width: 200px;
        overflow: hidden;
    background-color: #B7AD9A;
    border-radius: 12px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.circular-progress::before {
    background: #B7AD9A;
}

}

@media only screen and (min-width: 1200px) {

}

#about-us .parent {
    gap:25px;
}

#about-us img {
    height: auto;
}

#about-us .action-article {
    color: #32605A;
    background-color: #D8CCB3;
    border-radius: 12px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}
@media (max-width: 600px) {
#about-us .action-article {
    margin-bottom: 10px;
}


.carte {
    color: #32605A;
    border-radius: 12px;
    background-color: #D8CCB3;
}
.carte h3, .carte p {
    padding-left: 20px;
    padding-right: 20px;
}

}

/*
.carte {
    max-width: 500px;
}
*/